<footer class="container mx-auto">
  <div
    class="flex flex-col items-center justify-between border-t border-grey-lighter py-4 sm:flex-row sm:py-2"
  >
    <div class="mr-auto flex items-center sm:mr-0 sm:pt-0">
      <a
        href="https://www.linkedin.com/in/urip-yoga-pangestu-65a541231/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i
          class="bx bxl-linkedin text-4xl text-primary transition-colors hover:text-secondary"
        ></i>
      </a>
      <a href="mailto:2211103102@ittelkom-pwt.ac.id">
        <i
          class="bx bx-envelope text-4xl text-primary pl-5 transition-colors hover:text-secondary"
        ></i>
      </a>
      <a
        href="https://wa.me/6285861466287"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i
          class="bx bx-phone text-4xl text-primary pl-5 transition-colors hover:text-secondary"
        ></i>
      </a>
      <a
        href="https://github.com/timurlauttt"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i
          class="bx bxl-github text-4xl text-primary pl-5 transition-colors hover:text-secondary"
        ></i>
      </a>
      <a href="https://my-portofolio-guwa.vercel.app/" target="_blank" rel="noopener noreferrer">
        <i
          class="bx bx-globe text-4xl text-primary pl-5 transition-colors hover:text-secondary"
        ></i>
      </a>
    </div>
  </div>
  <div class="pb-4 text-start font-body text-sm text-primary">
    &copy; 2026 Urip Yoga Pangestu. All rights reserved.
  </div>
</footer>
